body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

.hidden {
    display: none;
}

section {
    background-color: white;
}

.hero {
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;

}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

li {
    text-decoration: none;
}

h1 {
    font-size: 90px;
    margin: 0;
}

h2 {
    font-size: 50px;
}

p {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}

.subtext {
    font-size: 15px;
    font-weight: 300;
    margin: 5px;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
}

.button {
    width: 200px;
    height: 50px;
    border-radius: 30px;
    background-color: #6495ed;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 10px;
    margin-top: 20px;
}

.button:hover {
    background-color: #7ca4ee;
}

.button:active {
    background-color: #7464ed;
    color: #2e2474
}

.socials {
    padding-bottom: 200px;
}

.logo {
    height: 60px;
    margin: 15px;
}

.social {
    margin: 10px;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.sub-section-alt {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.headshot {
    width: 300px;
    border-radius: 150px;
    margin-left: 80px;
}

.headshot-container {
    display: flex;
    align-items: center;
}

.project-card {
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px #979797;
    margin: 10px;
}

.project-container {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
    .project-image {
        margin: 5px;
    }
    .sub-section {
        display: flex;
        flex-wrap: wrap;
        text-align: left;
        padding: 40px;
    }
    .headshot {
        margin-left: 0px;
        margin-top: 20px;
    }
    .hero-text {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-left: 5px;
    }
    h1 {
        font-size: 60px;
    }
    p {
        font-size: 20px;
    }
    
}

.project-image {
    margin-top: 25px;
    width: 250px;
    border-radius: 125px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-link {
    text-decoration: none;
    color: #7ca4ee;
}

.framework-icons {
    width: 30px;
    margin-top: 10px;
}
.js {
    margin-bottom: -2px;
}

a {
    text-decoration: none;
    color: white;
}

.catpaw {
    display: none;
}

.catpaw:focus {
    outline: 0;
}

.catpaw:hover {
    background-color: #7ca4ee;
    cursor: pointer;
}


@media only screen and (max-width: 1000px) {
    .catpaw {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }

    ul {
        display: none;
        background-color: #2b2c38;
        margin: 0px;
    }

    ul.show {
        display: block;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: #2b2c38;
    }

    .logo {
        display: none;
    }
}

.social-fan {
    transition: all 0.5s ease-in-out;
    position: relative;
}

.social-fan .social {
    position: absolute;
    top: 0;
    right: 0;
    transform-origin: top right;
    z-index: 10;
}

.social-fan:hover .email {
    display: block;
    animation: fanEmail 1s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes fanEmail {
    0% {
        transform: translateY(0);
        right: 0;
        top: 0;
    }

    100% {
        transform: translateY(27px);
        right: 0;
        top: 0;
    }
}

.social-fan:hover .linkedin {
    display: block;
    animation: fanLinkedin 1s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes fanLinkedin {
    0% {
        transform: translateY(0);
        right: 0;
        top: 0;
    }

    100% {
        transform: translateY(60px);
        right: 0;
        top: 0;
    }
}

.hidden-pill {
    height: 40px;
    width: 325px;
    align-items: start;
    text-align: right;
}

@media only screen and (max-width: 1000px) {
    .social-fan .social {
        position: absolute;
        top: 0;
        left: 0;
        transform-origin: top left;
        z-index: 10;
    }

    .social-fan:hover .email {
        display: block;
        animation: fanEmail 1s ease-in-out;
        animation-fill-mode: forwards;
    }

    @keyframes fanEmail {
        0% {
            transform: translateY(0);
            right: 0;
            top: 0;
        }

        100% {
            transform: translateY(25px);
            right: 0;
            top: 0;
        }
    }

    .social-fan:hover .linkedin {
        display: block;
        animation: fanLinkedin 1s ease-in-out;
        animation-fill-mode: forwards;
    }

    @keyframes fanLinkedin {
        0% {
            transform: translateY(0);
            right: 0;
            top: 0;
        }

        100% {
            transform: translateY(60px);
            right: 0;
            top: 0;
        }
    }

    .hidden-pill {
        height: 40px;
        width: 325px;
        align-items: start;
        text-align: left;
    }
}

.github-button {
    padding-top: 60px;
}

.btn {
    color: #24292f;
    background-color: #ebf0f4;
    border-color: #ccd1d5;
    border-color: rgba(31, 35, 40, .15);
    background-image: -moz-linear-gradient(top, #6495ed, #7ca4ee 90%);
    background-image: linear-gradient(180deg, #6495ed, #7ca4ee 90%);
    border-radius: 0.25em;
    padding: 2px 5px;
    border: 1px solid;
}

.license {
    padding-top: 10px;
    margin-bottom: -25px;
}

/* Age in Days Project */
.container {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
}

.calculator-box {
    width: 700px;
    /* height: 250px; */
    border-radius: 25px;
    background: linear-gradient(135deg, #6495ed, #8da4ee);
    /* padding: 10px; */

}

/* .calculator-box > * {
    margin: 20px;
} */

.description-box {
    width: 700px;
    padding: 10px;
}

.date {
    /* margin-bottom: 40px; */
    /* margin-inline-start: 10px; */
    border-radius: 0.25em;
    border: 4px solid #4e85eb;
    text-align: center;
    margin-left: 20px;
    padding-left: 0;
}

h5 {
    margin-left: 20px;
}

h6 {
    margin-left: 20px;
}

@media only screen and (max-width: 1000px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        }

}
